.accordion {
  max-width: 100%;
  border: none;
}

.accordion-item2 {
  border: none;
  width: 770px;
}

.accordion-content {
  width: 770px;
  margin-bottom: 1rem;
}

.discont-flight {
  font-size: 1rem;
  color: white;
}

.divider {
  width: 300px;
  height: 1px;
  background-color: black;
  position: relative;
}

.arrow-divider {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.card-flight {
  height: "135px";
  width: "100%";
  padding: 1rem;
}

.accordion-below,
.accordion-below-left,
.accordion-below-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

/* tablet */
@media (max-width: 1023px) {
  .accordion-item2,
  .accordion-content {
    width: 600px;
  }
  .accordion-below {
    flex-direction: column;
    align-items: start;
  }

  .accordion-below-right {
    margin-left: auto;
    width: 100%;
  }
}

/*  */
@media screen and (max-width: 600px) {
  .accordion-item2,
  .accordion-content {
    width: 100%;
  }

  .discont-flight {
    font-size: 13px;
  }

  .divider {
    width: 100px;
  }

  .card-flight {
    height: 100%;
  }

  .font-title {
    font-size: 12px;
  }

  .font-count-time {
    font-size: 10px;
  }
}

.btn-pilih {
  width: 100px;
  border: none;
  height: 32px;
  background-color: #1b3260;
  border-radius: 12px;
  color: white;
}

.accordion-content {
  border-top: none;
  border-left: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.font-count-time {
  align-content: center;
  font-size: 14px;
  color: gray;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 18px;
  }

  .accordion {
    width: 90%;
  }
}
