.form-input {
  height: 3.1rem;
}

.carousel-banner {
  position: "absolute";
  top: "5.2rem";
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: "center";
  align-items: "center";
  border: 1px solid red;
}

.icon-switch {
  width: 35px;
  height: 35px;
  padding: 5px;
  background-color: black;
  border-radius: 14px;
}

.icon-input {
  width: 23px;
  height: 23px;
}

.font-input {
  margin-left: 0.5rem;
  align-content: center;
  font-size: 14px;
  color: gray;
}

.font-passenger {
  align-content: center;
  font-size: 14px;
  color: gray;
}

.input-home {
  width: 100%;
}

.card-home {
  width: 100%;
}

.card-title-input {
  display: block;
}

@media screen and (max-width: 600px) {
  .input-home {
    max-width: 100%;
  }

  .card-title-input {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .input-home {
    width: 100%;
  }
}
