.form-input {
  height: 3.1rem;
}

.icon-switch {
  width: 35px;
  height: 35px;
  padding: 5px;
  background-color: black;
  border-radius: 14px;
}

.icon-input {
  width: 23px;
  height: 23px;
}

.font-input {
  margin-left: 0.5rem;
  align-content: center;
  font-size: 14px;
  color: gray;
}

.font-passenger {
  align-content: center;
  font-size: 14px;
  color: gray;
}

/* .button-category {
  display: "flex";
  align-items: "center";
  gap: "10px";
  padding: "15px";
  border-radius: "25px";
} */

/* .modal {
  --bs-modal-width: fit-content !important;
} */
