.login_button {
  padding: 14px 10px;
  gap: 8px;
  width: 105px;
  height: 48px;
  background: #1b3260;
  border-radius: 12px;
  border: none;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 1.1rem;
  vertical-align: middle;
  text-align: center;
  line-height: 1em;
}
