.text-pilih {
  font-weight: 700;
}

.flight-desc {
  /* border: 2px solid #a06ece; */
  background-color: #315bb0;
  padding: 10px 16px;
  border-radius: 12px;
  gap: 8px;
  color: white;
}

.change-search {
  width: 250px;
  height: 47px;
  background: #388822;
  border: none;
  color: white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  font-weight: bold;
}

.date-css {
  /* border-right: 1px solid rgb(184, 184, 184);
  border-left: 1px solid rgb(184, 184, 184); */
  gap: 10px;
  align-items: flex-start;
  cursor: pointer;
  margin-bottom: 20px;
  /* background: #1b3260; */
}

.sort-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 5px;
  float: right;
  border: 1px solid #315bb0;
  background: none;
  width: 108px;
  height: 38px;
  border-radius: 16px;
}

.sort-btn:hover {
  background: #315bb0;
  color: white;
  transition: ease-in-out 0.2s;
  border: none;
}

.filter {
  padding: 24px;
  width: 268px;
  height: 250px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

.btn-modal {
  float: right;
  border: none;
  width: 150px;
  height: 40px;
  border-radius: 12px;
  background: #1b3260;
  color: white;
}

.card-flight {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .filter {
    display: none;
  }

  .change-search {
    margin-top: 10px;
    margin-left: 4rem;
  }
}
